.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}

.sidebar {
    width: 25%; /* Adjust width as needed */
    background-color: #009041; /* Green color */
}

.content {
    width: 75%; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100%; /* Adjust max-width as needed */
    height: auto;
    margin-bottom: 20px;
}
