.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-profile, .admin-profile{
    width: 80%;
    height: 20%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    color: black;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}
.user-profile img, .admin-profile img{
    height: 60%;
}
.user-informations h1, .admin-profile h1 {
    font-size: 40px;
    margin: 0 40px;
}
.user-informations h2, .admin-profile h2{
    font-size: 30px;
    margin: 0 40px;
}
.user-informations h3, .admin-profile h3{
    font-size: 10px;
    margin: 0 40px;
}

.favourite-songs, .user-list{
    width: 80%;
    height: 50%;

}

.favourite-songs p, .user-list p{
    color: black;
    font-size: 72px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.projects{
    height: 21vh;
    overflow: auto;
}

.user-info, .admin-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-info h1, .admin-info h1 {
    color: black;
    font-size: 40px;
    font-family: Poppins;
    margin: 0 40px;
}
.user-info h2, .admin-info h2{
    color: black;
    font-size: 20px;
    font-family: Poppins;
    margin: 0 40px;
}

