body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #3D8EF3 0%, #2251B9 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}

button {
    background: #009041;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input, textarea {
    background-color: transparent;
    border: none;
    margin: 9px;
    width: 50%;
    font-size: 18px;
    margin-left: 41px;
}
textarea{
    height: 40vh;
}

input:focus {
    outline: none;
    border: none;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
    .login-container,
    .logo {
        width: 100%;
    }
    form {
        margin: auto;
    }
    img {
        height: 7em;
        margin: 2em;
    }
}

.base-container {
    margin-top: 7vw;
    height: 74vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav {
    width: 14vw;
    height: 100%;
}

main {
    width: 80vw;
}

nav .settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav>img {
    width: 13vw;
    margin: -3em auto;
    height: 170px;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    color: white;
    font-family: Roboto;
}

li i {
    font-size: 1.5em;
}

.button {
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    color: #343A40;
    letter-spacing: 0.72px;
    padding: 10px 20px;
    width: 60%;
    font-weight: 400;
    font-family: Roboto;
    display: flex;
    justify-content: flex-start;
}
.button:hover{
    background: #343A40;
    border-radius: 4px;
    color: white;
}

.button img{
    margin-right: 10px;
    height: 24px;
}

ul {
    list-style-type: none;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    height: 50vh;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 70px;
    padding: 0;
}

li {
    text-align: left;
    color: #868E96;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    word-wrap: break-word;
    padding-left: 10px;
}


main {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px black solid;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.add-project {
    background: #0192DD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.add-project h1{
    margin: 0;
    font-size: 10px;
}
.add-project img{
    height: 33px;
}

.search-bar {
    width: 70%;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    border: 2px black solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 27px;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;

    position: absolute;
    color: #8A8989;
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 400;
    letter-spacing: 1.60px;
    word-wrap: break-word
}

.bottom-bar, .top-bar{
    position: fixed;
    width: 100%;
    height: 4vw;
    background-color: #009041;
}

.top-bar {
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.bottom-bar {
    bottom: 0;
}

.settings{
    width: 14vw;
    margin-top: -150px;
}

.settings p{
    text-align: left;
    color: #868E96;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    word-wrap: break-word;
    padding-left: 10px;
}


